

.about__me {
    width: 100%;
    
    background: linear-gradient(45deg, transparent,
     var (--color-primary));
     
     
     
}


.about__cards{
    display: flex;
    justify-content: center;
   
    gap: 1.5rem;
}
.about__cards a, p{
    padding: 2rem;
    margin-left: 1rem;
    
}
.about__card{
    background: var(--color-varients);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transiton);
}
.about__card:hover{
    background: transparent;
    border-color: var(--color-varients);
}
